[submodule "bochsDevs/bochs"]
	path = bochsDevs/bochs
	url = git@github.com:marmolejo/bochs.git
	branch = bochs-devs
[submodule "vgabios"]
	path = vgabios
	url = git@github.com:marmolejo/vgabios.git
	branch = ao486
